.projects {
	background-color: var(--darkgreen);
	color: whitesmoke;
	font-size: 1.3vw;
	border: 2vw solid black;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4vw;
	gap: 3vw;
}
.projects_wrapper {
	width: max-content;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}
.project_item {
	width: 30vw;
	position: relative;
}
.project_image_wrapper {
	transition: filter 0.3s;
	overflow: hidden;
	position: static;
}
.project_item:hover > img {
	filter: brightness(0.2);
	scale: 1;
}
.project_image_wrapper img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	scale: 1.2;
	transition: all 0.6s;
}
.project_description_wrapper {
	display: none;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.project_item:hover > .project_description_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.project_item:hover > .project_image_wrapper img {
	filter: brightness(0.2);
	scale: 1;
}
.project_description {
	font-size: 1.2vw;
	padding: 2vw;
}
.project_description_wrapper a {
	background-color: black;
	width: 100%;
	text-align: center;
	padding: 0.5vw;
	text-decoration: none;
	color: whitesmoke;
}
.project_description_wrapper h3 {
	width: 100%;
	background-color: black;
	text-align: center;
	padding: 0.5vw;
}
.project_description_wrapper a:hover {
	color: var(--highlightgreen);
}
