
.cell {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-45deg) rotateY(45deg);
    
}
  
.cell_face {
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 10%;
    transition: all 0.5s;
    border-radius: 100%;
}

.cell_face_front { 
    transform: rotateY(0deg) translateZ(1vw); 
    filter: brightness(1.2);
}
.cell_face_right { 
    transform: rotateY(90deg) translateZ(1vw);
    
}
.cell_face_back { 
    transform: rotateY(180deg) translateZ(1vw); 
}
.cell_face_left { 
    transform: rotateY(-90deg) translateZ(1vw); 
}
.cell_face_top { 
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateX(90deg) translateZ(1vw);
    filter: brightness(1.4);
}
.cell_face_bottom {
    transform: rotateX(-90deg) translateZ(1vw);
 }

.face_alive {
    background:#6858df;
    box-shadow: 0px 0px 10px 0px #6858df;
}

