
.cell {
    position: relative;
    transform-style: preserve-3d;
    
}
  
.cell_face {
    position: absolute;
    width: 2vw;
    height: 2vw;
    transition: all 0.3s ease;
}

.cell_face_front { 
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1.2);
    font: bold 2vw arial, sans-serif;
    color: #fcffff;
    text-shadow: 1px 1px 2px #009ac1;
    
}


.cell_face_left { 

    filter: brightness(0.9);
}
.cell_face_top { 

    filter: brightness(1.1);
}
.cell_face_bottom {
    transform: rotateX(-90deg) translateZ(1vw);
 }

.face_alive {
    background:#14c3fc;

}
.cell_alive {
    position: relative;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(-45deg) ;
  
}
.cell_image{
    width: 80%;
    height: auto;
    filter: invert(99%) sepia(79%) saturate(0%) hue-rotate(253deg) brightness(107%) contrast(100%)
}

.empty_content_or_dead_cell{
    visibility: hidden;
}
@keyframes bounce {
	0% {
		transform: rotateX(-20deg) rotateY(45deg) translateY(0vw);
	}
	50% {
		transform: rotateX(-20deg) rotateY(45deg) translateY(0.1vw);
	}
	100% {
		transform: rotateX(-20deg) rotateY(45deg) translateY(0vw);
	}
}