.skill_menu {
	width: 50vw;
	height: 92vh;
	background-color: var(--darkgreen);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
	padding: 40px;
	grid-gap: 30px;
}
.logo_wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.logo_title {
	color: aliceblue;
	text-align: center;
}

.logo {
	justify-items: center;
	min-width: 0;
	min-height: 0;
	cursor: pointer;
}
