.skill_menu {
	width: 50vw;
	height: 92vh;
	background-color: var(--darkgreen);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 2vw;
}
.menu_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 3vw;
	justify-content: center;
	align-items: center;
}
.logo_wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: max-content;
	width: max-content;
	gap: 20px;
	cursor: pointer;
}
.logo_title {
	color: aliceblue;
	text-align: center;
}

.logo {
	justify-items: center;
	width: 6vw;
	min-height: 0;
}
