.container {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  background-color: black;
}
.cube {
  position: absolute;
  right: 10vh;
  top: 10vh;
}
.background {
  position: absolute;
  transform: scale(10);
  opacity: 0.1;
}
.navbar {
  z-index: 1;
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }
  to {
    transform: rotateX(359deg) rotateY(359deg);
  }
}
