.container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    padding-right: 10vh;
}
.title_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 50%;
    width: max-content;

}

.projects_content{
    position: relative;
    width: 90vw;
    height: 70vh;
    background-color:#a1d9ff;
    
}