.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.projects_content{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 80vh;
    
}
.title_wrapper{
    height: max-content;
    width: 40vw;
}
.cell_wrapper{
    position: relative;
    width: 50vw;
    height: 50vw;
    border: 1px solid red;
}

