.header {
	font-family: var(--primary-font);
	color: whitesmoke;
	min-height: 92vh;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
}
.about_wrapper {
	width: 40%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--darkgreen);
	padding-top: 10%;
}
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4vw;
}
.latest_proyect_wrapper {
	width: 60%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title h1 {
	font-size: 4vw;
	letter-spacing: 0.2vw;
}
.title h2 {
	font-size: 1.5vw;
}
.about {
	font-size: 1.2rem;
	line-height: 35px;
}
.social_contact {
	display: flex;
	padding-top: 3vw;
	gap: 2vw;
}
.social_contact a * {
	width: 30px;
	height: 30px;
	color: white;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
}
.social_contact a :hover > * {
	color: var(--highlightgreen);
	filter: brightness(1.2);
}
