.header {
	font-family: var(--primary-font);
	color: whitesmoke;
	min-height: 92vh;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
	z-index: 1;
}
.about_wrapper {
	width: 40%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: rgb(30, 30, 30);
	background: linear-gradient(
		90deg,
		rgba(30, 30, 30, 1) 60%,
		rgba(30, 30, 30, 0) 90%
	);
	padding-top: 10%;
	z-index: 2;
	pointer-events: none;
}
.title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.4vw;
}
.latest_proyect_wrapper {
	width: 60%;
	min-height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.title h1 {
	font-size: 4vw;
	letter-spacing: 0.2vw;
}
.title h2 {
	font-size: 1.5vw;
}
.about {
	font-size: 1.2rem;
	line-height: 35px;
}
.social_contact {
	display: flex;
	padding-top: 3vw;
	gap: 2vw;
}
.social_contact a * {
	width: 2vw;
	height: 2vw;
	color: white;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.2s;
	pointer-events: all;
}
.social_contact a :hover > * {
	color: var(--highlightgreen);
	filter: brightness(1.2);
}
@media screen and (max-width: 900px) {
	.header {
		background-color: var(--darkgreen);
		flex-direction: column;
		justify-content: center;
	}
	.about_wrapper {
		width: 100%;
		height: 50%;
	}
	.latest_proyect_wrapper {
		width: 100%;
		height: max-content;
	}
}
