.navbar {
	height: 8vh;
	position: sticky;
	top: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background: var(--darkgreen);
	z-index: 1;
}
.links_wrapper {
	display: flex;
	color: whitesmoke;
	font-weight: bold;
}

.nav_link {
	padding: 1vw;
	color: whitesmoke;
	background: none;
	font-size: 1vw;
	letter-spacing: 0.05vw;
	cursor: pointer;
	border: none;
	font-weight: bold;
	border-radius: 0;
	height: 100%;
}
.nav_link_active {
	border-radius: 0;
	padding: 1vw;
	color: black;
	background-color: var(--highlightgreen);
	font-size: 1vw;
	letter-spacing: 0.05vw;
	cursor: pointer;
	border: none;
	font-weight: bold;
}
