.navbar {
	margin: 0px;
	height: 8vh;
	position: sticky;
	top: 0;
	backdrop-filter: blur(20px);
	display: flex;
	justify-content: space-around;
	align-items: center;
	background: var(--darkgreen);
}
.navbar p {
	color: white;
	font-size: 2rem;
}
