.container{
    display: flex;
    height: 80vh;
    width: 80vw;
}
.cell_wrapper{
    object-fit: contain;
}
.title_wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    gap: 3vw;
    height: 10vh;

}
.title{
    font-size: 2vw;
    letter-spacing: 0.2vw;
    color: aliceblue; 
}