@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
	/*Colors*/
	--darkgreen: #1e1e1e;
	--greygreen: #536869;
	--bluegreen: #1e1e1e;
	--highlightgreen: #8eaa90;
	--green: #738c7f;
	/*Fonts*/
	--primary-font: "Roboto Slab", serif;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.App {
	display: flex;
	flex-direction: column;
}
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--highlightgreen);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--darkgreen);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--greygreen);
}
