@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

:root {
	/*Colors*/
	--darkgreen: #1e1e1e;
	--greygreen: #536869;
	--bluegreen: #1e1e1e;
	--highlightgreen: #8eaa90;
	--green: #738c7f;
	/*Fonts*/
	--primary-font: "Roboto Slab", serif;
}
svg {
	color: aliceblue;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--primary-font);
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.contact_wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all 0.5s;
}
.contact_wrapper_disabled {
	display: none;
}
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--highlightgreen);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--darkgreen);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--greygreen);
}
