@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

:root {
	/*Colors*/
	--dark: #1e1e1e;
	--greygreen: #536869;
	--highlightgreen: #8eaa90;
	--green: #738c7f;
	--grey:#434243;
	/*Fonts*/
	--primary-font: "Roboto Slab", serif;
	--title-font: 'Nova Square', sans-serif;
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.section_wrapper{
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	height: 70vh;
	width: 100vw;
	position: relative;
	background: linear-gradient(-45deg, #01062a, #1832fc, #d0ddf1);
	background-size: 400% 400%;
	animation: gradient 15s ease-in infinite;

}
.img_container{
	height: 100%;
	width: auto;
}
.img_container img{
	height: 100%;
	width: auto;
	-webkit-transform: scaleX(-1);
    transform: scaleX(-1)
}
.conway_container{
	height: 70vh;
	width: 70vh;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.backdrop{
	position: absolute;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(1px);
}
.title_container{
	z-index: 1;
	color: white;
	height: max-content;
	font-family: var(--title-font);
	font-size: 2.5vw;
}
.title_container h1{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 20vw;
	text-align: end;
	
}
.title_container h1 span{
	text-align: end;
	width: 100%;
	
}
.title_surname{
	width: 100%;
	overflow: hidden;
	letter-spacing: 0.2vw;
}
.title_surname span:first-child{
	animation: gradient 15s ease-in infinite;
	background: linear-gradient(-45deg, #1832fc, #d0ddf1);
	-webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
	position: relative;
	width: 100%;
}
.title_surname span:first-child::after{
	content: 'VE';
	position: absolute;
	right: 0;
	top:0;
	z-index: -1;
	background: #fcffff;
	width: 100vw;
}
body{
	background: #fcffff
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

::-webkit-scrollbar {
	width: 0.7vw;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--highlightgreen);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--greygreen);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--green);
}
