/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --blue: #0e1e2b;
  --neon: #bc13fe;
  --green: #93c8c4;
  --lightblue:#0b49bd:
}
